.idea
aux/exp.py
aux/surf-field.py
aux/tmp*
aux-data
data/external
data/old
data/reserve.txt
old-src
out.html
scripts
test/data/cprofile
test/data/notes
test/data/old
test/data/private
test/data/tok-comparison
test/data/SARAL
test/data/tmp
test/data/uroman-large-test-set
test/data/*.wb
test/data/*[0-9]
test/data/utoken-out/*save*
test/data/utoken-out/*.json
test/data/utoken-out/*.boost
test/data/utoken-out/*.wb
test/data/utoken-out/*.mt.*
test/data/utoken-out/*simple*
test/data/utoken-out/*[0-9]
test/data/utoken-out/3S-tweetsdev.orig.*.dcln
test/data/viz
test/data/wildebeest
test/data/Bible-ULT-woid.eng.txt
test/data/Bible-IRV-woid.hin.txt
to-do
utoken/data/external
utoken/data/old
utoken/*save*
utoken/tmp
__pycache__
.DS_Store
test/.DS_Store
test/data/.DS_Store
