include README.md
include utoken/data/tok-resource-eng.txt
include utoken/data/tok-resource-hin.txt
include utoken/data/tok-resource-kaz.txt
include utoken/data/tok-resource-mal.txt
include utoken/data/tok-resource-uig.txt
include utoken/data/tok-resource.txt
include utoken/data/detok-resource.txt
global-exclude *.pyc
